<html>
<head>
<meta name="google-signin-client_id" content="725432565665-hmuh0q3cto1ko9d05pl3f7iku8ntej3r.apps.googleusercontent.com">
<script src="https://apis.google.com/js/platform.js" async defer></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/static/script.js"></script>
<style>
.data{
display:none;
}
</style>
</head>
<body>
Login to google :- 
<div class="g-signin2" data-onsuccess="onSignIn"></div>

<div class="data">
<p>Profile Details</p>
<img id="pic" class="img-circle" width="100" height="100"/>
<p>Email Address</p>
<p id="email" class="alert alert-danger"></p>
<button onclick="signOut()" class="btn btn-danger">signOut</button>
</div>
</body>
</html>