<html>
<head>
<meta name="google-signin-client_id" content="your google sign in client ID">
<script src="https://apis.google.com/js/platform.js" async defer></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
Login to google :- 
<div class="g-signin2" data-onsuccess="onSignIn"></div>
click on the google login button for oauth login --- 
Auth : Tushar (thetushartripathi1998@gmail.com)
Github : github.com/tushartripathi1998
</body>
</html>